canvas{
    position: absolute;
    /*top: -300px;; /*パソコンの全画面で流すときは-420、会場のプロジェクターは-610*/
    left:0;
    bottom: 0;
    z-index:0;
    /*height: 100px;*/
    width: 100%;
    background-color: black;
    margin-top: calc((100vh - 45vw) / 2);
  }

body {
    width: 500vw; 
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 0;
    background-color: green;
    height: 45vw;
    position: relative;
}

.all-container {
    position: relative;
    width: 500vw;
    height: 45vw;
    margin-top: calc((100vh - 45vw) / 2);
    background-color: black;
    z-index: 0;
}

/*.waves {
    background-color: black;
}*/

.item {
    position: absolute;
    bottom: 0;
    font-size: 30px;                       /*大きさ調整*/
    font-family: '游明朝';
    text-align: center;
    white-space: normal;                    
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    animation: float-up 30s linear forwards, heartbeat-opacity 1s infinite;
    max-width: 40vw;
    transform: translateY(100vh);
    z-index:1;
}

/* パーティクルの CSS */
.particle {
    position: absolute;
    width: 3px; /* パーティクルのサイズ */
    height: 3px;
    border-radius: 50%;
    opacity: 0.8;
    pointer-events: none;
    z-index: 10; /* マウスイベントを無視 */
    transform: translate(-50%, -50%);
}


/* アニメーションの範囲を調整 */
@keyframes float-up {
    0% {
        transform: translateY(100vh); /* 下からスタート */
        opacity: 1; /* 初めははっきり表示 */
    }
    70% {
        opacity: 1; /* 途中まではそのままの透明度 */
    }
    100% {
        transform: translateY(-70vh); /* 統一された終了位置 */
        opacity: 0.1; /* 最後には透明になる */
    }
}

@keyframes heartbeat-opacity {
    0%, 40%, 100% {
        color: white;
    }
    20%, 60% {
        color: gray;
    }
}

.test-range {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 200vw;
    z-index: 100;
    background-color: aqua;
    opacity: 0.5;
}