{% load static %}
<!-- パーティクルあり -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'lw_post/css/style2.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Klee+One&display=swap" rel="stylesheet">
    <title>LAST WORDS</title>
</head>
<body>
    <div id="particle-container"></div>
    <div class="all-container">
        <div class="test-range"></div>
        <script>
            const items = JSON.parse('{{ items|safe|escapejs }}');
        </script>
        <!-- <script src="{% static 'lw_post/js/particle-animation.js' %}"></script> -->
        <script src="{% static 'lw_post/js/top2-animation.js' %}"></script>
    </div>
</body>
</html>
